.product-preview
  padding-top: 30px
  padding-bottom: 30px

  &__head
    display: flex
    align-items: center
    justify-content: space-between

  &__nav-slider
    @media (max-width: 639px)
      display: none

    .swiper-button-next
      margin-left: 15px

  &__container
    padding-top: 50px
    padding-bottom: 50px

  &__items
    @media (max-width: 639px)
      display: block

  &__item
    @media (max-width: 639px)
      margin-bottom: 40px
