html, body
  margin: 0
  padding: 0

html
  min-height: 100%
  min-height: 100vh

body
  background-color: #E5E5E5
  // background: linear-gradient(180deg, #e5e5e5 0%, #e5e5e5 15%, #fff 40%)
  // background: linear-gradient(360deg, #FFFFFF 37.34%, rgba(255, 255, 255, 0) 66.97%), #F5F5F5
  background-repeat: no-repeat

  &.page-404
    background-color: #fff

h1, h2, h3, h4, h5, h6
  margin-top: 0
  margin-bottom: 20px

h1
  font-size: 60px
  color: #A49777
  font-weight: 700
  line-height: 1.2

  @media (max-width: 767px)
    font-size: 30px

h2
  font-size: 60px
  color: #A49777
  font-weight: 700
  line-height: 1.3

  @media (max-width: 767px)
    font-size: 30px

h3
  font-size: 44px
  color: #CDCDCD
  font-weight: 700
  line-height: 1.3
  margin-bottom: 15px

  @media (max-width: 767px)
    font-size: 30px

h5
  font-size: 18px
  color: #434343
  font-weight: 700
  line-height: 1.2
  margin-bottom: 15px

p
  font-size: 18px
  font-weight: 400
  line-height: 1.2
  margin-top: 0
  margin-bottom: 15px

.app
  display: flex
  flex-direction: column
  height: 100%
  height: 100vh

  &__wrapper
    display: flex
    flex-direction: column
    min-height: 100%
    min-height: 100vh

  &__content
    display: flex
    flex: 1 0 auto

  &__main
    flex: 1

.contain
  max-width: 1170px + 15px + 15px
  width: 100%
  padding-right: 15px
  padding-left: 15px
  margin: 0 auto

.button-default
  font-size: 18px
  color: #fff
  font-weight: 700
  line-height: 1.1
  text-align: center
  text-decoration: none
  min-width: 220px
  display: inline-block
  vertical-align: top
  padding: 13px 22px 14px 22px
  border: 1px solid transparent
  background-color: #DE8C10
  transition: color 0.3s, background-color 0.3s, border-color 0.3s, ease 0.3s
  cursor: pointer

  &._is-loading
    padding-top: 17px
    padding-bottom: 18px

    &:before
      content: ''
      width: 12px
      height: 12px
      margin-left: auto
      margin-right: auto
      display: block
      background-image: url('../img/loader-icon.png')
      background-repeat: no-repeat
      background-size: contain
      background-position: 0 0
      animation: loading 1.5s linear infinite

  &:hover
    color: #fff
    background-color: #ff9b04

  &:active
    background-color: #DE8C10

  @keyframes loading
    from
      transform: rotate(0deg)

    to
      transform: rotate(360deg)

  &--uncolored
    color: #A0A0A0
    background-color: #F5F5F5

  &--large
    font-size: 20px
    padding-top: 15px
    padding-bottom: 19px
    background-color: #A49777
    border-radius: 8px

    @media (max-width: 639px)
      font-size: 18px
      padding-top: 10px
      padding-bottom: 13px

    &._is-loading
      padding-top: 22px
      padding-bottom: 22px

      @media (max-width: 639px)
        padding-top: 16px
        padding-bottom: 15px

    &:hover
      background-color: #DE8C10

  &--other
    background-color: #A49777

    &:hover
      background-color: #DE8C10

  &--outline
    color: #b6b6b6
    font-weight: 400
    border: 1px solid #CBCBCB
    background-color: transparent

    &:hover
      border-color: #A49777
      background-color: #A49777

.button-go-to
  font-size: 22px
  color: #A49777
  font-weight: 700
  line-height: 1.1
  text-decoration: none
  transition: color 0.3s, ease 0.3s
  display: flex
  align-items: center

  &:hover
    color: #DE8C10

    .svg-icon
      fill: #DE8C10

  &:active
    color: #CE7B01

    .svg-icon
      fill: #CE7B01

  &--uncolored
    color: #C4C4C4

  .svg-icon
    fill: #A49777
    padding-top: 3px
    margin-left: 15px

.swiper-button-prev, .swiper-button-next
  width: 45px
  height: 45px
  border-radius: 50%
  background-color: #ddd
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 12L2 6.5L7 0.999999' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A")
  background-repeat: no-repeat
  background-position: 50% 50%
  background-size: 8px 13px
  transition: background-color 0.3s, ease 0.3s
  position: static
  margin-top: 0
  display: inline-block
  vertical-align: top

  &:hover
    background-color: #A49777

  &:after
    display: none

.swiper-button-next
  transform: rotate(180deg)

.swiper-pagination-bullet
  width: 15px
  height: 15px
  background-color: #CDCDCD
  opacity: 1

  &.swiper-pagination-bullet-active
    background-color: #A49777

.content-block
  padding: 60px 15px
  max-width: 770px
  width: 100%
  margin-left: auto
  margin-right: auto

  @media (max-width: 1279px)
    padding-top: 30px

  p
    font-size: 19px
    font-weight: 700
    line-height: 1.7
    color: #6A6559
    margin-bottom: 0

    @media (max-width: 767 px)
      font-size: 15px
      line-height: 1.5

.inner-page-head
  h1
    margin-bottom: 45px

    @media (max-width: 767px)
      margin-bottom: 20px

.policy-block
  padding-bottom: 140px

  @media (max-width: 1279px)
    padding-bottom: 70px

  strong
    font-size: 18px
    color: #434343
    font-weight: 700
    line-height: 1.2
    margin-top: 25px
    margin-bottom: 25px
    display: block

  p
    font-size: 14px
    color: #929292
    font-weight: 500
    line-height: 1.3
    margin-bottom: 15px

    a
      font-size: 14px
      color: #929292
      font-weight: 500
      line-height: 1.1
      text-decoration: none

      &:hover
        text-decoration: underline

.error-404
  padding-top: 60px
  padding-bottom: 150px
  overflow: hidden

  @media (max-width: 1279px)
    padding-top: 0
    padding-bottom: 80px

  &__wrapper
    position: relative
    max-width: 785px
    width: 100%
    margin-left: auto
    margin-right: auto

    @media (max-width: 767px)
      text-align: center

  &__title
    font-size: 265px
    color: #A49777
    font-weight: 400
    line-height: 1
    text-shadow: 18px 16px 16px rgba(0, 0, 0, 0.17)
    margin-bottom: 60px

    @media (max-width: 767px)
      margin-bottom: 0

    @media (max-width: 639px)
      font-size: 157px

  &__desc
    font-weight: 700
    color: #A49777
    font-size: 28px
    line-height: 1.1

  &__note
    font-size: 22px
    color: #ABABAB
    font-weight: 500
    line-height: 1.1

    @media (min-width: 768px)
      position: absolute
      top: 100px
      right: 190px
      display: flex

    @media (max-width: 767px)
      margin-bottom: 25px

    &:after
      content: ''
      width: 32px
      height: 32px
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='16' fill='%23F24A4A'/%3E%3Crect x='11.7578' y='13.1714' width='2' height='10' transform='rotate(-45 11.7578 13.1714)' fill='white'/%3E%3Crect x='13.1719' y='20.2427' width='2' height='10' transform='rotate(-135 13.1719 20.2427)' fill='white'/%3E%3C/svg%3E%0A")
      background-repeat: no-repeat
      background-position: 0 0
      transform: translate(-5px, -10px)

      @media (max-width: 767px)
        display: none

    br
      @media (max-width: 767px)
        display: none

  &__img
    width: 100%

    @media (min-width: 768px)
      width: 523px
      top: 120px
      right: -25px
      position: absolute

    @media (max-width: 767px)
      margin-top: -75px
      margin-bottom: -75px

    @media (max-width: 639px)
      margin-top: -50px
      margin-bottom: -30px

    img
      vertical-align: top

  &__links
    margin-top: 90px
    display: flex
    align-items: center
    position: relative
    z-index: 5

    @media (max-width: 767px)
      flex-direction: column
      align-items: center
      margin-top: 30px

    a
      font-size: 18px
      color: #535353
      font-weight: 600
      line-height: 1
      text-align: center
      text-decoration: none
      border: 1px solid #D1D1D1
      border-radius: 13px
      padding: 13px 20px 17px 20px
      min-width: 220px
      margin-right: 10px
      transition: color 0.3s, background-color 0.3s, border-color 0.3s, ease 0.3s

      @media (max-width: 767px)
        margin-bottom: 15px
        margin-right: 0

      &:last-child
        margin-right: 0
        margin-bottom: 0

      &:hover
        color: #fff
        background-color: #A49777
        border-color: transparent

.remodal
  background-color: #fff
  max-width: 570px
  border-radius: 24px
  padding: 55px

  @media (max-width: 639px)
    padding-top: 70px
    padding-right: 15px
    padding-left: 15px

  .remodal-close
    top: 35px
    right: 35px

    &:before
      content: ''
      width: 16px
      height: 16px
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.61594 8.00014L15.6649 1.95111C16.1117 1.50426 16.1117 0.781986 15.6649 0.335137C15.218 -0.111712 14.4958 -0.111712 14.0489 0.335137L8 6.38417L1.95107 0.335137C1.50423 -0.111712 0.781972 -0.111712 0.335131 0.335137C-0.11171 0.781986 -0.11171 1.50426 0.335131 1.95111L6.38406 8.00014L0.335131 14.0492C-0.11171 14.496 -0.11171 15.2183 0.335131 15.6651C0.55798 15.888 0.850541 16 1.1431 16C1.43566 16 1.72822 15.888 1.95107 15.6651L8 9.61611L14.0489 15.6651C14.2718 15.888 14.5643 16 14.8569 16C15.1495 16 15.442 15.888 15.6649 15.6651C16.1117 15.2183 16.1117 14.496 15.6649 14.0492L9.61594 8.00014Z' fill='%23888E92'/%3E%3C/svg%3E%0A")
      background-repeat: no-repeat
      background-position: 0 0