<!doctype html>
<html lang="{{ app.lang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ pageTitle }} - "БАНИНО" | Строительство бань по всей России</title>

        <meta name="theme-color" content="{{ app.stylus.colors.theme }}">

        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta name="format-detection" content="telephone=no">

        <meta name="msapplication-tap-highlight" content="no">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">

        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap" rel="stylesheet">

        <script src="https://api-maps.yandex.ru/2.1/?apikey=&lang=ru_RU" type="text/javascript"></script>

        <link rel="stylesheet" href="css/plugins.min.css">
        <link rel="stylesheet" href="css/app.css">

    </head>

    <body block="app" class="{{ bodyClasses }}">

        <div elem="wrapper">

            {% if layout.header %}
            	{% include 'header.html' %}
            {% endif %}

            <div elem="content">

                <main elem="main">
                    {% block main %}{% endblock %}
                </main><!-- app:main -->

            </div><!-- app:content -->

            {% if layout.footer %}
            	{% include 'footer.html' %}
            {% endif %}

        </div><!-- app:wrapper -->

		{{ inlineSvgSprite() }}

		<script>
			var site_defers = {
				smoothscroll: 'js/vendors/smoothscroll.polyfill-0.4.4.js',
			}
		</script>

        {% include "popup-form.html" %}
        
        <div block="popup-status"class="remodal" data-remodal-id="success">
            <button data-remodal-action="close" class="remodal-close"></button>
            <div elem="section">
                <div elem="logo">
                    <img src="img/logo.svg" alt="">
                </div>
                <div elem="desc">
                    Благодарим за доверие!<br>
                    Мы свяжемся с вами в ближайшее время
                </div>
                <button elem="button-ok" data-remodal-action="close" class="button-default" type="button">
                    Заявка отправлена
                </button>
            </div>
        </div><!-- popup-success -->
        
        
        <script src="js/vendors/jquery-3.6.0.min.js"></script>
        <script src="js/plugins.min.js"></script>
        <script src="js/app.js"></script>

    </body><!-- app -->
</html>
