= yaml =
pageTitle: Ошибка 404 - Страница не найдена
bodyClasses: page-404
layout: !!map
    header: true
    footer: true
    left: false
    right: false
= yaml =

{% extends 'app.html' %}


{% block main %}

<div block="error-404">
	<div elem="section">
		<div elem="inner" class="contain">
			<div elem="wrapper">
				<div elem="content">
					<div elem="title">
						404
					</div>
					<div elem="img">
						<img src="img/404-img.png" alt="">
					</div>
					<div elem="note">
						Страница<br>
						не найдена
					</div>
					<div elem="desc">
						Попробуйте начать<br>
						с других страниц!
					</div>
				</div>
				<div elem="links">
					<a href="#">Главная</a>
					<a href="#">Каталог</a>
					<a href="#">Контакты</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
