= yaml =
pageTitle: Бани из бруса
bodyClasses:
layout: !!map
  header: true
  footer: true
  left: false
  right: false
path: [
  {"title": Главная},
  {"title": Каталог}, 
]
= yaml =

{% extends 'app.html' %}


{% block main %}

  <div block="inner-page-head">
    <div elem="section" class="contain">
      {% include "s-path.html" %}
      <h1>Бани из бруса</h1>
    </div>
  </div>

  {% include "filter-projects.html" %}
  
  {% include "sorting-projects.html" %}

  {% include "catalog-projects.html" %}
  
  {% include "contacts-form.html" %}

  {% include "other-projects.html" %}


{% endblock %}