= yaml =
pageTitle: Главная
bodyClasses:
layout: !!map
  header: true
  footer: true
  left: false
  right: false
= yaml =

{% extends 'app.html' %}


{% block main %}

{% include "hero.html" %}

{% include "catalog-preview.html" %}

{% include "steps-work.html" %}

{% include "our-advantages.html" %}

{% include "our-works.html" %}

{% include "contacts-form.html" %}

{% include "product-preview.html" %}

<div block="product-preview" mods="hit">
  <div elem="section">
    <div elem="inner" class="contain">
      <div elem="head">
        <h2>Лидеры продаж</h2>
        <div elem="nav-slider">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      <div elem="container" class="swiper js-product-preview-slider">
        <div elem="items" class="swiper-wrapper">
          <div elem="item" class="swiper-slide">
            <div block="product-thumb" mods="hit">
              <div elem="body">
                <div elem="top">
                  <a elem="img" href="#">
                    <img src="img/product-thumb-img4.png" alt="">
                  </a>
                  <div elem="tag">Хит</div>
                </div>
                <div elem="bottom">
                  <div elem="name">
                    Баня тип 01
                  </div>
                  <div elem="info">
                    <div elem="size">
                      <span>Размер</span>
                      <strong>11 х 6 м</strong>
                    </div>
                    <div elem="price">
                      <span>200 000 р</span>
                      <strong>132 000 р</strong>
                    </div>
                  </div>
                  <a elem="link-more" class="button-default button-default--outline" href="#">Подробнее</a>
                </div>
              </div>
            </div><!-- product-thumb -->
          </div>
          <div elem="item" class="swiper-slide">
            <div block="product-thumb" mods="hit">
              <div elem="body">
                <div elem="top">
                  <a elem="img" href="#">
                    <img src="img/product-thumb-img5.png" alt="">
                  </a>
                  <div elem="tag">Хит</div>
                </div>
                <div elem="bottom">
                  <div elem="name">
                    Баня тип 02
                  </div>
                  <div elem="info">
                    <div elem="size">
                      <span>Размер</span>
                      <strong>13 х 6 м</strong>
                    </div>
                    <div elem="price">
                      <span>200 000 р</span>
                      <strong>215 000 р</strong>
                    </div>
                  </div>
                  <a elem="link-more" class="button-default button-default--outline" href="#">Подробнее</a>
                </div>
              </div>
            </div><!-- product-thumb -->
          </div>
          <div elem="item" class="swiper-slide">
            <div block="product-thumb" mods="hit">
              <div elem="body">
                <div elem="top">
                  <a elem="img" href="#">
                    <img src="img/product-thumb-img6.png" alt="">
                  </a>
                  <div elem="tag">Хит</div>
                </div>
                <div elem="bottom">
                  <div elem="name">
                    Баня тип 03
                  </div>
                  <div elem="info">
                    <div elem="size">
                      <span>Размер</span>
                      <strong>10 х 6 м</strong>
                    </div>
                    <div elem="price">
                      <span>200 000 р</span>
                      <strong>187 000 р</strong>
                    </div>
                  </div>
                  <a elem="link-more" class="button-default button-default--outline" href="#">Подробнее</a>
                </div>
              </div>
            </div><!-- product-thumb -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- product-preview -->

<div block="content-block">
  <p>
    Наша компания — ООО «Дома из Пестова» — на рынке строительных услуг с 2007 года. За более чем 10 лет работы мы
    приобрели
    огромный опыт в строительстве под ключ и проектировании.
  </p>
  <p>
    Клиенты хвалят построенные объекты и называют их долговечными и уютными. Производственная база располагается в городе
    Пестово Новгородской области. В этих краях издавна мужчины занимались деревянным домостроительством и здесь же
    находится
    один из крупнейших лесопильных заводов в России.
  </p>
</div>

{% endblock %}